/* YOUR CUSTOM STYLES */

.participants {
    color: lightgray;
    font-size: 0.7rem;
}

.padd1ng01 {
    padding: 0.1rem;
}

.card-up {
    border-radius: 3px 3px 0 0;
}
.fixed-btn{
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
/*Цвет задач карточки*/

.urgent {
    background-color: #ff4444;
}

.normal {
    background-color: #00C851;
}

.noturgent {
    background-color: #0099CC;
}

/* Карточки contacts.html*/

a.messenger {
}
a.messenger:hover {
    color:rgba(174, 19, 123, 0.5);
}
a.messenger:focus {
    text-decoration: none;
    color: ;
}

.whatsapp {
    color:#25D366;
    padding-right: 0.5rem;
}

.telegram{
    color:#0088cc;
    padding-right: 0.5rem;
}

.mainbrand {
    color:#ad137a!important;
}

.contacticons {
    padding-top: 0.5rem;
}

div.moderate {
    position: absolute;
    top: -1rem;
    right: -0.4rem;
    color: gray;
}
div.verified {
    position: absolute;
    top: -1rem;
    right: -0.4rem;
    color: green;
}


.price {
    float: right;
    margin-top: 0.8rem;
    background: white;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.totalprojectbudget {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: rgba(76, 175, 80, 0.7);
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    box-shadow: 1px 7px 6px rgba(0,0,0,0.3);
}

.timer {
    float: left;
    margin-top: 0.8rem;
    color: white;
    margin-left: 1rem;
    padding: 0.5rem;
}

.removetask {
    float: right;
    color: #ff4444!important;
}

tbody.users-list tr:not([data-selected]):not([data-empty]) {

    display: none;

}

.activator.shareproject, button.like-link {
    box-shadow: none;
    border: none;
    outline: none;
    background: transparent;
}